name: ci

on: [push, pull_request]

jobs:
  build:
    name: ${{ matrix.kind }} ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macOS-latest, ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v2
      - uses: denoland/setup-deno@v1

      - name: Format
        run: deno fmt --check *.ts

      - name: Lint
        run: deno lint

      - name: Tests
        run: deno test --unstable --allow-ffi

      - name: Release
        uses: softprops/action-gh-release@v1
        if: |
          matrix.os == 'ubuntu-latest' &&
          startsWith(github.repository, 'denoffi') && 
          startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          draft: true
